title: Haehwan Lee

tagline: Statistics, Data Science

description: >-                        # used by seo meta and the atom feed
  2020년 2월 처음 개설한 깃헙블로그입니다.
  
url: 'https://haehwan.github.io'

author: Lee HaeHwan

avatar: /assets/img/sample/round_avatar.png   #확장자 유의

github:
  username: HaeHwan

social:
  name: haehwan lee                  # it will shows as the copyright owner in Footer
  email: 0210hwan@gamil.com             # change to your email address
  links:
    # The first element serves as the copyright owner's link
    - https://github.com/haehwan       # change to your github homepage
    # Uncomment below to add more social links
    # - https://www.facebook.com/username
    - https://www.linkedin.com/in/hae-hwan-lee-b90aa8166/

google_site_verification: google_meta_tag_verification # change to your verification string
#Google Analytics and Webmaster Tools
#Google Analytics UA and Webmaster Tool verification tags can be entered under owner in _config.yml.
#For more information on obtaining these meta tags check Google Webmaster Tools and Bing Webmaster Tools support.
#(https://support.google.com/webmasters/answer/9008080?hl=en&visit_id=637175212580711126-1161304517&rd=1)
#--------------------------

# if your site type is Project Pages site, change below value to '/projectname'
baseurl: ''

# Change to your timezone › http://www.timezoneconverter.com/cgi-bin/findzone/findzone
timezone: Asia/Seoul

google_analytics:
  # Fill with your Google Analytics ID
  id: ''
  # The Google Analytics pageviews switch.
  # DO NOT enable it unless you know how to deploy the Google Analytics superProxy.
  pv: false
  # superProxy baseURL and URL, only valid when `google_analytics.pv` is set to 'true'
  proxy_baseurl: ''
  proxy_url: ''
#Google Analytics tracking ID (get one here for free: https://marketingplatform.google.com/about/analytics/)

disqus:
  comments: true  # boolean type, the global switch for posts comments.
  shortname: 'haehwan'    # Fill with your Disqus shortname. › https://help.disqus.com/en/articles/1717111-what-s-a-shortname

# The year your website first ran.
first_run: 2020


# Prefer color scheme setting, available values:
#
#     dual   - Follow the system prefer color by default, and a toggle will display
#              in the left bottom of Sidebar, which used for switch the theme between dark and light.
#
#     light  - Use the light color scheme
#
#     dark   - Use the dark color scheme
#
theme_mode: dual

# boolean type, global switch for ToC in posts.
toc: true

paginate: 5

markdown: kramdown
mathjax: true

highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts: # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: 'highlight'
    # default_lang: console
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

permalink: /posts/:title/

defaults:
  -
    scope:
      path: ""          # An empty string here means all files in the project
      type: posts
    values:
      layout: post
      comments: true    # Enable comments in posts.
      toc: true         # Display TOC column in posts.
      location: Post
      breadcrumb:
        -
          label: Posts
          url: /
  -
    scope:
      path: _drafts
    values:
      comments: false
  -
    scope:
      path: tags
    values:
      tab_active: Tags
      location: Tag
      breadcrumb:
        -
          label: Home
          url: /
        -
          label: Tags
          url: /tabs/tags/
  -
    scope:
      path: categories
    values:
      tab_active: Categories
      location: Category
      breadcrumb:
        -
          label: Home
          url: /
        -
          label: Categories
          url: /tabs/categories/
  -
    scope:
      path: tabs
    values:
      layout: page
      dynamic_title: true    # Hide title in mobile screens.
      breadcrumb:
        -
          label: Home
          url: /
  -
    scope:
      path: assets/data
    values:
      layout: compress


sass:
  sass_dir: /assets/css
  style: compressed

compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]
  endings: [html, head, body, dt, dd, rt, rp, optgroup, option, colgroup, caption, thead, tbody, tfoot, tr, td, th]
  profile: false
  blanklines: false
  ignore:
    envs: []

exclude:
  - vendor        # Avoid Jekyll mistakenly read the vender directory on Travis-CI's VM .
  - Gemfile.lock
  - Gemfile
  - tools
  - docs

sitemap_exclude:  # Sitemap will exclude the following items.
  fuzzy:
    - /assets/
  accurate:
    - /norobots/
    - /tabs/
    - /categories/
    - /tags/
    - /posts/
    - 404.html
    - feed.xml
    - sitemap.xml
    - robots.txt
    - redirects.json
